#fantasy {
    font-family: fantasy;
    color: purple;
    font-size: 30px;
    background-color: bisque;

}

body {
    font-family: sans-serif;
    color: rgb(24, 65, 159);
    font-style: italic;





}

.links {
    font-weight: bold;
    text-indent: 3cm;


}

li {

    float: center;
    border-radius: 1px;
    border-color: red;
    font-family: blue;
    background-color: lightpink;

}

h3 {
    text-decoration: underline;

}

.images {
    height: 200px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#paragraph {

    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;


}

#ul {
    padding-left: 30px;
}

#ol {
    padding-left: 30px;
}